/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: theme("colors.gray-dark");
  overflow: hidden
}

.sidebar-icon svg{
  width: 30px;
  height: 30px
}
.nodeItemSideBar svg {
  width: 20px;
  height: 20px;
  /* padding: 0 10px; */
}

.tabs-trigger[data-state='active'] {
  box-shadow: inset 0 -1px 0 0 currentColor, 0 1px 0 0 currentColor;
}

